
{% extends 'layouts/main.html' %}

{% block content %}

<style type=text/css>
        p {
            background-color: black;
            margin: 10px;
            border-radius: 25px;
        }

        div {
            color: black;
            background-color: 009900;
            margin: 2px;
            font-size: 25px;
            border-radius: 25px;
        }

        body {
            text-align: center;
            border-radius: 25px;
        }

}
    </style>

<style>
h1{ text-align: center


    }
</style>
<br>
<br>
<style>img {
  width: 40px,
  height: 30px
}</style>
<a href="https://ibb.co/2dSdj6c"><img src="https://i.ibb.co/kXJXhyq/image-removebg-preview-6.png" alt="image-removebg-preview-6" border="0" width="100px"></a><br /><br />
<h1>What would you like to translate?</h1>
<br>
<br>
<div align="centre">
    <form action="{{ url_for('handle_data') }}" method="post">
        <input type="text" name="user_input">
        <button class="button is-danger" >
            Translate
        </button>
    </form>



</div>
{% endblock %}
